<a class="navitem" href="{{ site.url }}">
  <h2>Erik Tran</h2>
</a>
<nav>
  {% for item in site.data.navigation %}
    {%- if page.url == item.link -%}
      <span class="px-2 py-2 navitem active">{{ item.name }}</span>
    {%- else -%}
      <a href="{{ item.link }}" class="navitem navlink px-2 py-2">{{ item.name }}</a>
    {%- endif -%}
  {% endfor %}
</nav>

<div class="border-top-1 border-gray my-3"></div>

<div class="social mb-2">
  <a class="text-small block mb-2" href="mailto:erik.tran.tt@gmail.com" target="_blank">erik.tran.tt@gmail.com</a>
  {% for item in site.data.social %}
    <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer" class="navitem inline-block mx-1">
      <i class="text-large icofont-{{ item.icofont }}"></i>
    </a>
  {% endfor %}
</div>
