// Components: anything reusable such as buttons, navbars, cards etc.
.navitem {
  color: rgba($colorWhite, 1.0);
  text-decoration: none;
  display: inline;

  @media screen and (min-width: $minScreenSize) {
    display: block;
  }

  &.navlink {
    text-decoration: underline;
    @media screen and (min-width: $minScreenSize) {
      text-decoration: none;
    }
    
    &:hover { text-decoration: underline; }
  }
  &.active { color: rgba($colorGray, 0.7); }
}

.profile {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $minScreenSizeMD) {
    flex-direction: row;
  }
  img {
    border-radius: 50%;
    width: 200px;
    max-height: 200px;

    @media screen and (min-width: $minScreenSizeMD) {
      width: 300px;
      max-height: 300px;
    }
  }

  &-bio {
    margin-top: 1rem; 
    @media screen and (min-width: $minScreenSizeMD) {
      margin-left: 1rem;
    }
  }
}

.btn-cta-resume {
  display: inline-block;
  padding: 2rem;
  border: solid 2px $colorCharcoal;
  box-sizing: border-box;
  text-decoration: none;
  color: $colorCharcoal;

  &:hover {
    text-decoration: underline;
    background-color: $colorBlue;
    color: $colorWhite;
  }
}

.skills {
  @media screen and (min-width: $minScreenSize) {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill-item {
    @media screen and (min-width: $minScreenSize) {
      width: 300px;
      height: max-content;
      margin-right: 1rem;
    }
  }
}