<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="base">
      <div class="grid-placeholder"></div>
      {% include header.html %}
      <div class="sidebar px-3 pt-3 bg-charcoal text-gray">
        {% include sidebar.html %}
      </div>
      <main>
        <div class="container px-3 pt-3">
          {{ content }}
          {% include form.liquid %}
        </div>
        {% include footer.html %}
      </main>

    </div>
  </body>
</html>
